<h1>{{zoo_name}}</h1>
<a href="/add"><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span> Add an Animal </button></a>

<!-- animal partial to go here -->
<!--TODO: get animal block to actually show animals -->
{{> animal-block }}