<h1>{{zoo_name}}</h1>
<a href="/add"><button id="add-button" class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span> Add an Animal </button></a>
<br>
<br>
<!-- animal partial to go here -->
{{> animal-block }}